body {
  text-align: center;
  background-color: rgb(172 188 143 / 49%);
}

#jogIni {
  margin-bottom: 0.8em;
  font-weight: bold;
}

#jogador,
#message {
  width: 190px;
  box-sizing: border-box;
  margin: auto;
  border: 1px solid chocolate;
  color: teal;
  padding: 10px 0px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  width: 190px;
  height: 190px;
  align-content: stretch;
  grid-template-rows: 60px 60px 60px;
  grid-template-columns: 60px 60px 60px;
  gap: 5px;
  margin: auto;
  background-color: brown;
}

.grid-container > div {
  background-color: antiquewhite;
  text-align: center;
  font-size: 3rem;
}

input {
  text-align: center;
  margin-top: 10px;
}
