#divMain {
  margin: 15px 0px;
}

#idLabel {
  background-color: cadetblue;
  padding: 5px;
  display: table;
  margin: 0 auto;
  font-size: larger;
  font-weight: 600;
}

#idValue {
  background-color: burlywood;
  padding: 5px;
  font-weight: 600;
}
