h2 {
  text-align: center;
}

#container {
  display: grid;
  margin: auto;
  background-color: brown;
  grid-gap: 5px;
  width: 190px;
  grid-template-rows: 60px 60px 60px;
  grid-template-columns: 60px 60px 60px;
}

#container > div {
  background-color: blanchedalmond;
  font-size: 3.5em;
  text-align: center;
}

#containerMsgs {
  display: flex;
  justify-content: center;
}

#messages {
  box-sizing: border-box;
  border: 1px solid brown;
  width: 190px;
  height: 80px;
}